.container {
  margin-top: 5px;
}

.title {
  font-size: 2em;
  font-weight: 300;
  text-align: center;
  margin: auto;
}

.post {
  margin-top: 30px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
}

.imgContainer {
  /* border: 2px solid red; */
  width: calc(45% - 0.5%);
  margin-bottom: (0.5%);
}

.featuredImage {
  width: 100%;
  height: 500px;
}

/* .image {
  object-fit: cover;
} */

.textContainer {
  /* border: 2px solid red; */
  width: calc(55% - 0.5%);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.postTitle {
  font-size: 40px;
}

.postDesc {
  font-size: 20px;
  font-weight: 300;
  color: var(--softTextColor);
}

.button {
  padding: 16px 20px;
  border: none;
  border-radius: 5px;
  width: max-content;
}

/* @media screen and (max-width: 1280px) {
  .title {
    font-size: 72px;
  }
  .featuredImage {
    width: 100%;
    height: 450px;
  }
} */

/* @media screen and (max-width: 1024px) {
  .post {
    flex-direction: column;
  }
  .title {
    font-size: 64px;
  }
  .imgContainer {
    width: calc(70%);
  }

  .textContainer {
    width: calc(100%);
  }
} */

/* @media screen and (max-width: 768px) {
  .title {
    font-size: 48px;
  }
  .featuredImage {
    width: 100%;
    height: 400px;
  }
} */

/* @media screen and (max-width: 640px) {
  .title {
    font-size: 36px;
  }
  .featuredImage {
    width: 100%;
    height: 350px;
  }
} */

@media screen and (max-width: 1440px) {
}

@media screen and (max-width: 1232px) {
  /* .title {
    font-size: 25em;
  } */
  .featuredImage {
    width: 100%;
    height: 450px;
  }
}

@media screen and (max-width: 1024px) {
  .featuredImage {
    width: 100%;
    height: 365px;
  }
  .postTitle {
    font-size: 25px;
  }
  .postDesc {
    font-size: 17px;
  }
}

@media screen and (max-width: 896px) {
}

@media screen and (max-width: 768px) {
  .featuredImage {
    height: 270px;
  }
  .postTitle {
    font-size: 20px;
  }
  .postDesc {
    font-size: 14px;
  }
  .button {
    padding: 10px 20px;
  }
  .textContainer {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .featuredImage {
    height: 200px;
  }
}

@media screen and (max-width: 430px) {
  .post {
    flex-direction: column;
  }
  .textContainer {
    gap: 10px;
    width: 100%;
    margin-top: 20px;
  }
  .imgContainer {
    width: calc(100%);
  }
  .featuredImage {
    height: 250px;
  }
}

@media screen and (max-width: 360px) {
}
@media screen and (max-width: 1128px) {
  .title {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 800px) {
  .title {
    font-size: 1.25em;
  }
}
@media screen and (max-width: 683px) {
  .title {
    font-size: 1em;
  }
}
@media screen and (max-width: 566px) {
  .title {
    font-size: 0.75em;
    font-weight: 500;
  }
}
@media screen and (max-width: 456px) {
  .title {
    font-size: 10px;
    font-weight: 500;
  }
}
@media screen and (max-width: 360px) {
  .title {
    font-size: 11px;
    font-weight: 500;
  }
}
@media screen and (max-width: 346px) {
  .title {
    font-size: 10px;
    font-weight: 500;
  }
}
@media screen and (max-width: 318px) {
  .title {
    font-size: 9px;
    font-weight: 500;
  }
}
